<div class="container">
  <div *ngIf="resultAvailable" class="result-overlay-container">
    <div class="center-grid">
      <div class="text-area-container">
        <textarea readonly [(ngModel)]="resultsContent" rows="50" cols="50" style="overflow-y: scroll;"></textarea>
      </div>
      <div class="exit-container">
        <div class="exit-button">
          <button (click)="clearButtonCallback()">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="logo">
      autocat
    </div>
   <div class="google">
    <div class="google-logo">
      <div class="google-logo-text">
        powered by
      </div>
      <img src="google-logo.png">
    </div>
   </div>
  </div>

  <div class="content">
    <div class="cat">
      <img src="mega_cat.png">
    </div>

    <div class="instruction">
      {{headerText}}
    </div>

    <div *ngIf="!userHasEntered" class="input-window">
      <div class="input-window-io-area">
        <div class="input-window-text-area">
          <textarea [(ngModel)]="textInput" placeholder="type here loser" (keydown)="onEnterKey($event)"></textarea>
          <input type="file" (change)="onFileChange($event)" style="display: none;" #fileUpload>
        </div>
        <div class="input-window-buttons">
          <button (click)="fileUpload.click()">
            <img src="upload_logo.png" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-text">
      Individual passion project by yours truly, melskie
    </div>
  </div>

</div>
